body{
    background-color:  bisque;
    margin:0;
  }
  .wrapper div, .wrapper h1{
    display:flex;
    justify-content: center;

 
  }
  .wrapper{
    width: 450px;
    height: 400px;
    background-color:  black;
    margin: 200px 500px;
    padding: 10px 5px;
  }
  h1{
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  button{
    margin-top: 20px;
    border-radius: 4px;
    border: 3px solid black;
    height: 44px;
    text-align: center;
    margin-left: 150px;
    font-weight: 600px;
    letter-spacing: 1px
  }
  button:hover{
    cursor:pointer;
  }
  input{
    border-radius: 5px;
    height: 2em;
    width: 250px;
    border: 3px solid black;
  }
  #result{
    color: white;
    margin-top: 20px;
    font-size: 26px;
  }